shopify:
  au:
    STORE_HANDLE: ________________________
    API_KEY: shpat________________________

peoplevox:
  CLIENT_ID: _____________________________
  USERNAME: ______________________________
  PASSWORD: ______________________________

logiwa:
  BASE_URL: https://myapi.logiwa.com
  EMAIL: _________________________________
  PASSWORD: ______________________________

youtube:
  API_KEY: _______________________________

yotpo:
  au:
    API_KEY: _____________________________
    GUID: ________________________________
    MERCHANT_ID: _________________________

linear:
  API_KEY: _______________________________

slack:
  BOT_TOKEN: xoxb________________________________