shopify:
  au:
    STORE_HANDLE: ________________________
    API_KEY: shpat________________________

peoplevox:
  CLIENT_ID: _____________________________
  USERNAME: ______________________________
  PASSWORD: ______________________________

youtube:
  API_KEY: ______________________________