shopify:
  au:
    STORE_HANDLE: ________________________
    API_KEY: shpat________________________

peoplevox:
  CLIENT_ID: _____________________________
  USERNAME: ______________________________
  PASSWORD: ______________________________

youtube:
  API_KEY: _______________________________

yotpo:
  BASE_URL: https://loyalty.yotpo.com/api
  au:
    API_KEY: _____________________________
    GUID: ________________________________
    MERCHANT_ID: _________________________