google_cloud_info:
  project:
  region:

# TODO: consider credsPayload in google_cloud_info instead of workspace .creds.yml

env:
  - HOSTED_API_KEY

functions:
  exampleFunction:
    max_instances: 1
    timeout: 300s
    wrappers:
      - '@foxtware/mineral/server.utils#requireHostedApiKey'
      - '@foxtware/mineral/server.utils#allowCrossOriginCallsAndHandleOptions'
    # entry_point: otherExportName

  packagedFunction:
    source: '@foxtware/mineral/api/pokemon/pokemonPokeballThrow.js'
    max_instances: 1
    wrappers:
      - '@foxtware/mineral/server.utils#checkTrainer'

groups:
  example_group:
    - exampleFunction
