google_cloud_info:
  project:
  region:

# TODO: consider credsPayload in google_cloud_info instead of workspace .creds.yml

functions:
  exampleFunction:
    max_instances: 1
    timeout: 300s
    before_wrappers:
      - allowCrossOriginCallsAndHandleOptions
      - requireHostedApiKey
    # entry_point: otherHandlerName

  pokemonPokeballThrow:
    max_instances: 1
    before_wrappers:
      - checkTrainer

groups:
  example_group:
    - exampleFunction
