google_cloud_info:
  project:
  region:

# TODO: consider credsPayload in google_cloud_info instead of workspace .creds.yml

functions:
  pokemonPokeballThrow:
    entry_point: functionWithDifferentNameIfNeeded
    max_instances: 1
    before_wrappers:
      - checkPokeballInventory
    after_wrappers:
      - rethrowIfNotCaught
    include_creds_paths:
      - nintendo.pokemon
      - platform

groups:
  pokemon:
    - pokemonPokeballThrow
