google_cloud_info:
  project:
  region:

# TODO: consider credsPayload in google_cloud_info instead of workspace .creds.yml

env:
  - HOSTED_API_KEY

functions:
  exampleFunction:
    max_instances: 1
    timeout: 300s
    wrappers:
      - requireHostedApiKey
      - allowCrossOriginCallsAndHandleOptions
    # entry_point: otherHandlerName

  pokemonPokeballThrow:
    max_instances: 1
    wrappers:
      - checkTrainer

groups:
  example_group:
    - exampleFunction
